{% extends 'base.html' %} {% load static %} {% block title %}Profile
{%endblock%} {% block extra_css %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'css_files/profile.css' %}" />
<link
  href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<div class="container profile-page">
  <div class="profile-card">
    <!-- Profile content -->
    <div class="image">
      <img
        src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'images/default_avatar.png' %}{% endif %}"
        alt="Profile Picture"
        class="profile-img"
      />
    </div>
    <div class="text-data">
      <span class="name">{{ user.username }}</span>
      <span class="job">{{ profile.gender }}</span>
      <!-- Additional fields can go here -->
    </div>

    <div class="buttons">
      <button
        class="button"
        onclick="window.location.href='{% url 'update_profile' %}'"
      >
        Update Profile
      </button>
    </div>
  </div>
</div>

<br /><br /><br />

<!-- Section for Purchased Books -->
<h2>Purchased Books</h2>
<div class="books-container">
  {% for book in user.profile.bought_books.all %}
  <div class="book-card">
    <a href="{% url 'read_book' book.id %}">
      <img src="{{ book.thumbnail_image_url }}" alt="{{ book.title }}" />
      <span>{{ book.title }}</span>
    </a>
  </div>
  {% empty %}
  <p>No books purchased yet.</p>
  {% endfor %}
</div>

<br /><br />

<!-- Section for Wishlisted Books -->
<h2>Wishlisted Books</h2>
<div class="books-container">
  {% for book in user.profile.wishlist.all %}
  <div class="book-card">
    <a href="{% url 'product_detail' book.id %}">
      <img src="{{ book.thumbnail_image_url }}" alt="{{ book.title }}" />
      <span>{{ book.title }}</span>
    </a>
    <button class="btn wishlist-btn wishlisted">
      <i class="fas fa-heart"></i> Wishlisted
    </button>
  </div>
  {% empty %}
  <p>No books wishlisted yet.</p>
  {% endfor %}
</div>

{% endblock %} {% block extra_js %}{% endblock %}
