/* Container for the book reader */
.book-reader-container {
  max-width: 1500px;
  max-height: 1500px;
  text-align: center;
  margin: auto;
  padding: 0; /* Remove padding */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between content and navigation */
}

/* Styling for the book content */
.book-content {
  flex-grow: 1; /* Take up available vertical space */
  overflow: auto; /* Enable scrolling if content overflows */
  padding: 15px;
  height: 80vh;
  font-size: 20px;
  line-height: 1.5;
}

/* Styling for headings */
h1 {
  font-size: 2em;
  margin: 20px 0; /* Space above and below heading */
  text-align: center;
}

/* Button styles */
.btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

#page-counter {
  font-size: 1em;
  margin: 0 20px;
}

/* Navigation buttons styling */
.reader-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  padding: 15px;
}

.reader-navigation .btn {
  background-color: #bd2000;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 80px; /* Set a fixed width */
  text-align: center;
}

.reader-navigation .btn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.reader-navigation .btn:hover:enabled {
  background-color: #a00000;
}

.reader-navigation input#page-input {
  width: 50px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.reader-navigation input#page-input:focus {
  outline: none;
  border-color: #bd2000;
  box-shadow: 0 0 5px rgba(189, 32, 0, 0.5);
}

.reader-navigation label {
  font-size: 14px;
  color: #333;
}

.reader-navigation span {
  font-size: 14px;
  color: #555;
}

/* new code for paged.js */

.paged-content {
  max-width: 800px;
  margin: auto;
  padding: 2em;
}

@page {
  margin: 1cm;
}
