* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.header {
    margin-top: 15px;
    padding: 10px;
    display: flex;
}
.header img{
    margin-left: 60px;
    width: 60px;
    height: 60px;
}
.header ul {
    margin-top: 20px;
    margin-left: 50px;
}
.registration-form{
    padding: 20px;
}
.section h4{
    font-size: 13px
}
.section {
    margin-top: 80px;
    margin-left: 40%;
}
hr {
    margin-left: 180px; 
    color: grey;
    width: 70%;
}
.form-group {
    padding: 35px;
    margin-left: 300px;
}
.form-group input {
    margin-right: 100px; 
    width: 310px;
}


input {
    border: 0px solid #ccc;
}
input[type="text"] {
    font-size: 18px;
    border-bottom: 1px solid black;
    color: black;
    &::placeholder {
        color: black;
    }
}
input[type="email"] {
    font-size: 21px;
    border-bottom: 1px solid black;
    color: black;
    &::placeholder {
        color: black;
    }
}
input[type="password"] {
    font-size: 21px;
    border-bottom: 1px solid black;
    color: black;
    &::placeholder {
        color: black;
    }
}
input[type="date"] {
    font-size: 21px;
    border-bottom: 1px solid black;
    color: black;
    &::placeholder {
        color: black;
    }
}
.register-btn {
    margin-top: 10px;
    text-align: center;
    width: 250px;
    background-color: #b30000;
    color: white; 
    border: 2px solid #666; 
    border-radius: 60px; 
    padding: 10px 30px; 
    font-size: 16px;
    cursor: pointer; 
}
.register-btn:hover {
    background-color: #a00000; 
}


.dropdown-menu {
    display: none;
    position: absolute;
    margin-left: 35%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 310px; 
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}


#gender {
    cursor: pointer;
    position: relative;
}
