* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.whole-body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.section h4{
    font-size: 13px
}
.section a {
    color: #a00000;
}
.section {
    margin-top: 80px;
    margin-left: 200px;
}
.left-side {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-side{
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-btn {
    margin-top: 10px;
    text-align: center;
    width: 350px;
    background-color: #b30000;
    color: white; 
    border: 2px solid #666; 
    border-radius: 60px; 
    padding: 10px 30px; 
    font-size: 15px;
    height: 45px;
    cursor: pointer; 
}
.register-btn:hover {
    background-color: #a00000; 
}


.input-group {
  margin-top: 30px;
  margin-left: 150px;
  position: relative; /* This allows you to position the eye icon relative to the input field */
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 1.1em;
}

.input-group input {
  width: 450px;
  padding: 10px;
  padding-right: 40px; /* This gives space for the eye icon */
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.extra-space{
    padding: 50px;
}